/* Symplissime theme */
body.theme-symplissime {
  --primary: #219769;
  --primary-dark: #16734a;
  --primary-light: #A1D44B;
  --secondary: #60C36A;
  --bg-dark: linear-gradient(135deg, #0f172a 0%, #16734a 40%, #A1D44B 80%, #219769 100%);
  --bg-dark-secondary: #16734a;
  --text-primary: #219769;
  --text-secondary: #605E5C;
  --border: #16734a;
  --glass: rgba(33,151,105,0.15);
  --glass-border: rgba(33,151,105,0.4);
}
